
<html>
<head>
<title>RTDT</title>

<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
<script src="https://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
<script type=text/javascript src="{{url_for('static', filename='js/jquery-1.12.0.min.js') }}"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script type=text/javascript src="{{url_for('static', filename='js/init.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/transit.css') }}">

</head>
<body>

<div id='spinnerElement' class="spinner">
  <div class="bounce1"></div>
  <div class="bounce2"></div>
  <div class="bounce3"></div>
</div>

<div id="info" class="lightbox"> Last updated on {{ last_modified }} </div>

<select class="form-control" id='routename' onchange="updateData(this)"> </select>

    <div id="map"></div>

<script type=text/javascript src="{{url_for('static', filename='js/afterload.js') }}"></script>

<script>
var route = {{route|tojson}}

if(route != null) {
    getData(route)
    document.getElementById('spinnerElement').style.display = 'none';
}

</script>

</body>
</html>
